body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  overflow-x: hidden !important;

  @apply bg-whitesmoke;
}

section {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: 'Rubik', sans-serif;

  @apply text-black;
}

button,
a {
  cursor: pointer;

  * {
    pointer-events: none;
  }
}
