.page-container {
  display: grid;

  grid-template-areas:
    "header"
    "body";

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;

  height: 100vh;
}

.main-container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;

  grid-template-areas:
    "content side";

  grid-template-columns: 1fr 400px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: body;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

  nav, aside {
    margin: 0;
  }
}
